.center
  = link_to 'Purge your followings', home_users_im_unfriendly_with_path, class: 'waves-effect waves-light btn'

  &nbsp
  &nbsp
  &nbsp

  = link_to 'Follow those who follow you', home_unfriendly_users_path, class: 'waves-effect waves-light btn'
