%br/
%h1.header.center.deep-orange-text.accent-3 Density labs Twitter bot
.row.center
  %h5.header.col.s12.light The bot that allows you to perform recurrent Twitter tasks with ease.
.row.center
  %a#download-button.btn-large.waves-effect.waves-light.deep-orange.accent-3( href=home_path) Login
%br/
%br/
