%script#fn-user-template(type='text/template')
  %p.fn-user-container
    Name: <%= user['name'] %>
    %br
    User name: <%= user['screen_name'] %>
    %br
    Friends count: <%= user['friends_count'] %>
    %br
    Followers count: <%= user['followers_count'] %>

%div#fn-users-container.fn-empty
  %p No users found

= content_for :footer do
  = javascript_include_tag 'cable'
  = javascript_include_tag 'channels/twitter_user_info'
